@media screen and (max-width: 499px) and (min-width: 0){
    //產品列表
    .cardpadding {
        padding: 0 0% 0 12%;
    }

    //有圖的畫面牆
    .imagewallposition {
        background-position: -290px -45px;
        background-size: 900px;
    }
  }