.frontpadding{
    padding-top: 100px;
}

.cardpadding{
    padding:0 35px 0 35px;
}

.trainnerpadding{
    padding: 15px 0 0 0;
}

.wordpadding{
    padding: 20px 0 0 0;
}

.bodypadding{
    padding: 5% 0 0 0;
}

.productpadding{
    padding: 0 0 10% 0;
}